In [1]:
import os
import numpy as np
import pandas as pd

In [2]:
train_data=pd.read_csv("titanic/train.csv")

In [3]:
train_data.drop(["PassengerId","Name","SibSp","Parch","Ticket","Cabin","Embarked"],axis="columns",inplace=True)

In [4]:
train_data.head()
train_data.shape

(891, 5)

In [6]:
target=train_data.Survived
inputs=train_data.drop("Survived",axis="columns")
inputs.shape

(891, 4)

In [7]:
dummies=pd.get_dummies(inputs.Sex)
dummies.head()

   female  male
0       0     1
1       1     0
2       1     0
3       1     0
4       0     1

In [8]:
inputs=pd.concat([inputs,dummies],axis="columns")
inputs.head()

   Pclass     Sex   Age     Fare  female  male
0       3    male  22.0   7.2500       0     1
1       1  female  38.0  71.2833       1     0
2       3  female  26.0   7.9250       1     0
3       1  female  35.0  53.1000       1     0
4       3    male  35.0   8.0500       0     1

In [9]:
inputs.drop("Sex",inplace=True,axis="columns")

In [10]:
inputs.head()

   Pclass   Age     Fare  female  male
0       3  22.0   7.2500       0     1
1       1  38.0  71.2833       1     0
2       3  26.0   7.9250       1     0
3       1  35.0  53.1000       1     0
4       3  35.0   8.0500       0     1

In [11]:
inputs.columns[inputs.isna().any()]

Index(['Age'], dtype='object')

In [13]:
inputs.Age=inputs.Age.fillna(inputs.Age.mean())
#inputs.Fare=inputs.Fare.fillna(inputs.Fare.mean())

In [14]:
target.isna().any()

False

In [15]:
#target.dropna(inplace=True)

In [15]:
inputs.shape

(891, 5)

In [21]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test= train_test_split(inputs,target,test_size=0.15,random_state=1)

In [22]:
from sklearn.naive_bayes import GaussianNB
model=GaussianNB()

In [23]:
model.fit(X_train,Y_train)

GaussianNB(priors=None, var_smoothing=1e-09)

In [25]:
model.score(X_test,Y_test)

0.7761194029850746